.form {
  display: flex;
  justify-content: center;
  padding-top: 75px;

}

.themovies {
  font-family: dosis;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 75px;
  text-decoration: none;
  justify-content: center;
  grid-row-gap: 20px;
  width: 50%;
  padding-left: 25%;
}

.themovies a:active {
  color: yellow;
  text-decoration: none;
}

.themovies img, a {
  width: 120px;
}

.themovies a:visited {
  color: yellow;
  text-decoration: none;
}
