.navbar {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  background-color: black;
  height: 50px;
  border-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 30px;

}

.links a:link {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: white;
  text-decoration: none;

}

.links a:visited {
  text-decoration: none;
  color: #929292;
}
